<h2 class="h2 mb-4">Listado de posiciones</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Nombre de la empresa</th>
      <th>Nombre del producto</th>
      <th>Fecha disponibilidad</th>
      <th>Precio</th>
      <th>Moneda</th>
    </tr>
  </thead>
  <tbody>
    @for(position of positionsService.listPositions(); track position.company){
    <tr>
      <td>{{ position.company }}</td>
      <td>{{ position.product }}</td>
      <td>{{ position.dateAvailable | date : "dd/MM/yyyy" }}</td>
      <td>{{ position.price }}</td>
      <td>{{ position.currency }}</td>
    </tr>
    }
  </tbody>
</table>
<app-loader [isLoading]="positionsService.listPositionsLoading()" />
